{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Game</title>

    <link rel="stylesheet" type="text/css" href="{% static 'game/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'game/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'game/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
      input {
        width: 5.8vh;
        height: 5.8vh;
        text-align: center;
        padding: 0px;
        font-size: 5vh;
      }
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <!-- <canvas id="myCanvas" width="750px" height="750px"></canvas> -->
    <table>
      <tbody>
        {% for i in range %}
          <tr>
            {% for j in range %}
              <td>
                <input type="text" maxlength="1" value="" id="{{forloop.parentloop.counter0}}, {{forloop.counter0}}" class="text-uppercase text-center">
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
</body>

<!-- <script>

    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();
    var uid = Date.now() % 10000;
    var paths = {};
    paths[uid] = new paper.Path()

    var randColor = "#"+((Math.round(Math.random()*16777215)).toString(16));
    paths[uid].strokeColor = randColor;
    var url = window.location.href;
    // https://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript
    const urlParams = new URLSearchParams(window.location.search);
    const size = urlParams.get('size');

    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/game');

    tool.onMouseMove = function(event) { //http://paperjs.org/reference/tool/ path examples
      if (size=="small") {
        paths[uid].add(event.point);
        socket.send(JSON.stringify({
         "x" : event.point.x,
         "y" : event.point.y,
         "uid" : uid,
         "col" : randColor
        }));
      }
    }

    socket.onmessage = function(receivedMessage) {
        var received = JSON.parse(receivedMessage.data);
        console.log("Received: " + JSON.stringify(received));
        if (size == "large") {
          if (!paths[received.uid]) {
            paths[received.uid] = new paper.Path();
            paths[received.uid].strokeColor = received.col;
          }
          paths[received.uid].add(received.x, received.y);
        }
    }

    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

</script> -->
</html>
