{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Game</title>

    <link rel="stylesheet" type="text/css" href="{% static 'game/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'game/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'game/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'game/vendor/paper/paper-full.min.js' %}"></script>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      /* input {
        width: 5.8vh;
        height: 5.8vh;
        text-align: center;
        padding: 0px;
        font-size: 5vh;
        background-color: rgba(222,184,135,0.4);
        border: 0px;
        width: 50%;
      } */
      table {
        background-image: url("{% static 'game/images/img5.svg' %}");
        background-repeat: no-repeat;
      }
      body {
        background-color: #deb887;
      }
      .time-sq {

      }
      .dpad, .nodpad {
        width: 20vw;
        height: 20vw;
        text-align: center;
      }
      .nodpad {
        background-color: rgba(222,184,135,0.4);
      }
      .letter-tile {
        height: 5.8vw;
        width: 5.8vw;
      }
    </style>
</head>
<body>
    <div class="container-fluid m2" style="width:100%">
      <!-- https://getbootstrap.com/docs/4.0/components/input-group/ -->
      <div class="input-group my-3" id="nameSpan">
        <input id="nameField" type="text" class="form-control" placeholder="Name">
        <div class="input-group-append">
          <span class="input-group-text bg-success text-light" onClick="sendName(document.getElementById('nameField').value)">Set Name</span>
        </div>
      </div>

      <div class="input-group my-3" id="timeSpan">
        <input id="timeField" type="text" class="form-control" placeholder="Time (seconds)">
        <div class="input-group-append">
          <span class="input-group-text bg-success text-light" onClick="sendTime(document.getElementById('timeField').value)">Set Time</span>
        </div>
      </div>

      <!-- <span id="timeSpan">
        <input id="timeField" type="text" value="" style="float:left" class="my-2">
        <button type="button" style="float:right" class="btn btn-success my-2" onClick="sendTime(document.getElementById('timeField').value)">Set Time</button>
      </span> -->
      <button id="startbtn" type="button" class="btn btn-success my-2" onClick="startGame()" style="width:100%">Start Game</button>
      <!-- <span id="nameSpan">
        <input id="nameField" type="text" value="" style="float:left" class="my-2">
        <button type="button" style="float:right" class="btn btn-success my-2" onClick="sendName(document.getElementById('nameField').value)">Set Name</button>
      </span> -->
      <!-- <div class="" style="width:100%">
        <div class="" id="hand" style="width:100%; border: 1px grey;">

        </div>
        <div class="" id="ltoSend" style="width:100%; border: 1px grey;">

        </div>
      </div> -->
      <div id="sendhandgroup" class="row text-center" style="width:100%; margin:auto;">
        <div class="input-group my-3">
          <div class="input-group-append">
            <span id="hand" class="input-group-text bg-success text-light"><i>Hand</i></span>
          </div>
          <input id="letterstosend" type="text" class="form-control" placeholder="Letters to use">
          <div class="input-group-append">
            <span id="sendhand" class="input-group-text bg-success text-light" onClick="sendLetters(document.getElementById('letterstosend').value)"><i>Use</i></span>
          </div>
        </div>
      </div>
      <div class="row text-center" style="width:100%; margin:auto;">
        <div class="col-4">
          <button type="button" class="btn nodpad my-2"> </button>
          <button type="button" class="btn btn-success dpad my-2" onClick="sendMove(0,-1)">←</button>
          <button type="button" class="btn nodpad my-2"> </button>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-success dpad my-2" onClick="sendMove(1,-1)">↑</button>
          <button type="button" class="btn btn-success dpad my-2" onClick="sendWord(document.getElementById('wordToSend').value, Number(document.getElementById('wordDirection').value))">Place</button>
          <button type="button" class="btn btn-success dpad my-2" onClick="sendMove(1,1)">↓</button>
        </div>
        <div class="col-4">
          <button type="button" class="btn nodpad my-2"> </button>
          <button type="button" class="btn btn-success dpad my-2" onClick="sendMove(0,1)">→</button>
          <button type="button" class="btn nodpad my-2"> </button>
        </div>

        <div id="wordgroup" class="row text-center" style="width:100%; margin:auto;">
          <div class="input-group my-3">
            <div class="input-group-append">
              <span id="usableLetters" class="input-group-text bg-success text-light"><i>Letters</i></span>
            </div>
            <input id="wordToSend" type="text" class="form-control" placeholder="Word to send">
          </div>

          <select id="wordDirection" class="form-select" name="">
            <option value="0">Horizontal</option>
            <option value="1">Vertical</option>
          </select>
        </div>

      </div>
    </div>
</body>
<!-- <script type="text/javascript" src="{% static 'game/js/letters.js' %}"></script>
<script type="text/javascript" src="{% static 'game/js/timer.js' %}"></script> -->
<script>
    $("#wordgroup").hide();
    var uid = Date.now() % 10000;
    var usableLetters = "";
    // var randColor = "#"+((Math.round(Math.random()*16777215)).toString(16));
    // paths[uid].strokeColor = randColor;
    var url = window.location.href;
    // https://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript
    const urlParams = new URLSearchParams(window.location.search);
    const size = urlParams.get('size');

    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/game');

    function startGame() {
      socket.send(JSON.stringify({
           "uid" : uid,
           "code": 6
          }));
    }

    function sendName(name) {
      if (!name) {
        console.log("Time too short.");
      } else {
        $("#nameSpan").hide();
        socket.send(JSON.stringify({
             "uid" : uid,
             "code": 1,
             "name": name
            }));
      }
    }

    function sendTime(time) {
      time = Number(time);
      if (!time) {
        console.log("Time too short.");
      } else {
        socket.send(JSON.stringify({
             "uid" : uid,
             "code": 7,
             "time": time
            }));
      }
    }

    function sendWord(word, dir) {
      if (!word) {
        console.log("Word too short.");
      } else {
        // for (letter of word) {
        //   if (!usableLetters.includes(letter.toUpperCase())) {
        //     console.log("You don't have those letters.");
        //     console.log(usableLetters);
        //     return
        //   }
        // }
        socket.send(JSON.stringify({
             "uid" : uid,
             "code": 2,
             "word": word,
             "dir" : dir,
             "teamnum": teamnum
            }));
        removeWordContent();
      }
    }

    function removeWordContent() {
      usableLetters = "";
      $("#wordgroup").hide();
      document.getElementById('wordToSend').value="";
    }

    function sendLetters(letters) {
      if (!letters) {
        console.log("No letters to send.");
      } else {
        for (letter of letters) {
          if (!hand.includes(letter.toUpperCase())) {
            console.log("You don't have those letters.");
            return
          }
        }
        for (letter of letters) {
          hand = hand.replace(letter.toUpperCase(), "");
        }
        socket.send(JSON.stringify({
             "uid" : uid,
             "code": 9,
             "letters": letters,
             "teamnum": teamnum
            }));
        document.getElementById("letterstosend").value = ""
        $("#sendhandgroup").hide();
        $("#wordgroup").show();
      }
    }



    function sendMove(dir, val) {
      socket.send(JSON.stringify({
           "uid" : uid,
           "code": 3,
           "val": val,
           "dir" : dir
          }));

    }

    var teamnum = -1;
    var hand = "";

    function refillHand() {
      while (hand.length < 7) {
        let letternew = String.fromCharCode(Math.floor(Math.random()*26)+65)
        hand += letternew;
        // document.getElementById('hand').innerHTML += ("<div class='letter-tile bg-success text-light ui-draggable'>" + letternew + "</div>")
      }
      document.getElementById('hand').innerHTML = hand
    }

    function myturn() {
      refillHand();
      //other stuff?
      usableLetters = "";
      $("#wordgroup").hide();
      $("#sendhandgroup").show();
    }

    function showUsableLetters() {
      document.getElementById('usableLetters').innerHTML = usableLetters;
    }

    socket.onmessage = function(receivedMessage) {
        var received = JSON.parse(receivedMessage.data);
        console.log("Received: " + JSON.stringify(received));
        // code 6: game start
        // code 8: received team #
        // code 9: letters received
        if (received.code == 6) {
          document.getElementById('startbtn').style.display = "none";
          document.getElementById('timeSpan').style.display = "none";
          console.log("Game Started!");
        } else if (received.code == 8) {
          if (uid==received.uid) {
            teamnum = received.teamnum;
          }
        } else if (received.code==9) {
          if (teamnum==received.teamnum) {
            usableLetters += received.letters.toUpperCase();
            showUsableLetters();
          }
        } else if (received.code==10) {
          if (teamnum==received.teamnum) {
            myturn();
          }
        } else if (received.code==2) {
          if (teamnum==received.teamnum) {
            removeWordContent();
          }
        }
    }

    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };



</script>
</html>
