{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Game</title>

    <link rel="stylesheet" type="text/css" href="{% static 'game/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'game/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'game/vendor/paper/paper-full.min.js' %}"></script>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      input {
        /* width: 5.8vh;
        height: 5.8vh;
        text-align: center;
        padding: 0px;
        font-size: 5vh;
        background-color: rgba(222,184,135,0.4);
        border: 0px; */
        width: 50%;
      }
      table {
        background-image: url("{% static 'game/images/img5.svg' %}");
        background-repeat: no-repeat;
      }
      body {
        background-color: #deb887;
      }
      .time-sq {

      }
      .dpad, .nodpad {
        width: 20vw;
        height: 20vw;
        text-align: center;
      }
      .nodpad {
        background-color: rgba(222,184,135,0.4);
      }
    </style>
</head>
<body>
    <div class="container-fluid m2" style="width:100%">
      <!-- https://getbootstrap.com/docs/4.0/components/input-group/ -->
      <div class="input-group my-3" id="nameSpan">
        <input id="nameField" type="text" class="form-control" placeholder="Name">
        <div class="input-group-append">
          <span class="input-group-text bg-success text-light" onClick="sendName(document.getElementById('nameField').value)">Set Name</span>
        </div>
      </div>

      <div class="input-group my-3" id="timeSpan">
        <input id="timeField" type="text" class="form-control" placeholder="Time">
        <div class="input-group-append">
          <span class="input-group-text bg-success text-light" onClick="sendTime(document.getElementById('timeField').value)">Set Time</span>
        </div>
      </div>

      <!-- <span id="timeSpan">
        <input id="timeField" type="text" value="" style="float:left" class="my-2">
        <button type="button" style="float:right" class="btn btn-success my-2" onClick="sendTime(document.getElementById('timeField').value)">Set Time</button>
      </span> -->
      <button id="startbtn" type="button" class="btn btn-success my-2" onClick="startGame()" style="width:100%">Start Game</button>
      <!-- <span id="nameSpan">
        <input id="nameField" type="text" value="" style="float:left" class="my-2">
        <button type="button" style="float:right" class="btn btn-success my-2" onClick="sendName(document.getElementById('nameField').value)">Set Name</button>
      </span> -->
      <br>
      <br>
      <br>
      <div class="" style="width:100%">
        <div class="" id="hand" style="width:100%">

        </div>

      </div>
      <div class="row text-center" style="width:100%; margin:auto;">
        <div class="col-4">
          <button type="button" class="btn nodpad my-2"> </button>
          <button type="button" class="btn btn-success dpad my-2" onClick="sendMove(0,-1)">←</button>
          <button type="button" class="btn nodpad my-2"> </button>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-success dpad my-2" onClick="sendMove(1,-1)">↑</button>
          <button type="button" class="btn btn-success dpad my-2">Place</button>
          <button type="button" class="btn btn-success dpad my-2" onClick="sendMove(1,1)">↓</button>
        </div>
        <div class="col-4">
          <button type="button" class="btn nodpad my-2"> </button>
          <button type="button" class="btn btn-success dpad my-2" onClick="sendMove(0,1)">→</button>
          <button type="button" class="btn nodpad my-2"> </button>
        </div>
      </div>
    </div>
</body>
<!-- <script type="text/javascript" src="{% static 'game/js/letters.js' %}"></script>
<script type="text/javascript" src="{% static 'game/js/timer.js' %}"></script> -->
<script>
    var uid = Date.now() % 10000;
    // var randColor = "#"+((Math.round(Math.random()*16777215)).toString(16));
    // paths[uid].strokeColor = randColor;
    var url = window.location.href;
    // https://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript
    const urlParams = new URLSearchParams(window.location.search);
    const size = urlParams.get('size');

    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/game');

    function startGame() {
      socket.send(JSON.stringify({
           "uid" : uid,
           "code": 6
          }));
    }

    function sendName(name) {
      if (!name) {
        console.log("Time too short.");
      } else {
        $("#nameSpan").hide();
        socket.send(JSON.stringify({
             "uid" : uid,
             "code": 1,
             "name": name
            }));
      }
    }

    function sendTime(time) {
      time = Number(time);
      if (!time) {
        console.log("Time too short.");
      } else {
        socket.send(JSON.stringify({
             "uid" : uid,
             "code": 7,
             "time": time
            }));
      }
    }

    function sendWord(word, dir) {
      if (!word) {
        console.log("Time too short.");
      } else {
        socket.send(JSON.stringify({
             "uid" : uid,
             "code": 2,
             "word": word,
             "dir" : dir
            }));
      }
    }

    function sendMove(dir, val) {
      socket.send(JSON.stringify({
           "uid" : uid,
           "code": 3,
           "val": val,
           "dir" : dir
          }));

    }

    var teamnum = -1;

    socket.onmessage = function(receivedMessage) {
        var received = JSON.parse(receivedMessage.data);
        console.log("Received: " + JSON.stringify(received));
        // code 6: game start
        // code 8: received team #
        // code 9: letters received
        if (received.code == 6) {
          document.getElementById('startbtn').style.display = "none";
          document.getElementById('timeSpan').style.display = "none";
          console.log("Game Started!");
        } else if (received.code == 8) {
          if (uid==received.uid) {
            teamnum = received.teamnum;
          }
        } else if (received.code==9) {
          if (teamnum==received.teamnum) {

          }
        }
    }

    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };



</script>
</html>
